__pycache__/
.pytest_cache
build/
dist/
.idea/
utils/__pycache__/
utils/phpbb_bak.py
tests/__pycache__/
tests/consts.py
tests/password.py
dctrad.cfg
.dctrad.cfg
Pipfile.lock
*.spec
*.pyc
*.db
*.txt
!requirements.txt
/test*.py
my_test.py
*.bak
